.buttonGroup {
  display: flex;
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: flex-end;
}

.newOrderBtn {
  margin-right: 10px !important;
}
.manageBtn {
}
