.table__container {
  margin-bottom: 50px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
}
.header__text {
  font-weight: 450;
}
